<title>
    <%= title %>
</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<script src="https://kit.fontawesome.com/00d76a4bef.js" crossorigin="anonymous"></script>
<link rel='stylesheet' href='/stylesheets/style.css'>
<script src="/js/jquery.js"></script>
<%- include('header'); -%>
    <section class="featured">
        <div class="content-wrapper">
            <h1 id="myHeader" class="text-4xl">
                <%= title %>
            </h1>
        </div>
    </section>
    <div class="flex flex-col  items-center justify-center my-5">
        <form action="/summaryrpt/" method="POST" target="_blank"
            class="sm:flex sm:flex-row flex flex-col justify-around items-center  w-full sm:w-[60%] mx-4 rounded-lg m-auto">
            <input type="date" id="stdt" name="stdt" required
                class="text-sm w-3/4 mr-3  py-4 px-4 border border-gray-200  rounded mb-2">
            <input type="date" id="enddt" name="enddt" required
                class="text-sm w-3/4 mr-3  py-4 px-4 border border-gray-200  rounded mb-2">
            <button type="submit" class="bg-green-400 py-3 w-3/4 mb-4 hover:bg-green-600 rounded-xl hover:rounded-full">
                Submit
            </button>
        </form>
    </div>


    <%- include('footer'); -%>